.nav-link {
	color: rgb(0,0,0);
	font-family: "Agency FB";
	font-weight: bold;
	font-size: 1.3em;
}

.navbar{
	/*background: linear-gradient(180deg, rgb(255, 179, 179) 0%, rgb(255, 51, 51) 100%);*/
	background-color: rgb(110,127,128);
	opacity: 75%;
}

.navbar a:hover {
	text-decoration: underline;
	color: white;
	/*background-color: red;*/
}

.custom-toggler.navbar-toggler {
	background-color: white;
	margin-left: 5px;
	float: left;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

@font-face { font-family: TopSecret; src: url('fonts/top-secret-stamp.ttf'); }  
h1{       
           font-family: TopSecret;
}
